@charset "utf-8";
/* CSS Document */
.txt {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #666666;
}
.border {
	border:1px solid #000;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
}
.txtn {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #D61217;
}
.o {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.tablerow
{
	background:#900;
	font-weight:bold;
}
tr.rowOdd {background-color: #CCCCCC;}
tr.rowEven {background-color: #E7E7E7;}
tr.rowHighlight {background-color: #FFFF99;}
.o2 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
}
a {
	color : #000000;
	text-decoration : none
}
a: hover {
	color : #30569d;
	text-decoration : none
}
a :active {
	color : #CCCCCC;
	text-decoration : none
}
.LeftMenu {
	PADDING-LEFT: 5pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8.5pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.LeftMenu:link {
	PADDING-LEFT: 5pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8.5pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.LeftMenu:visited {
	PADDING-LEFT: 5pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8.5pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.LeftMenu:hover {
	PADDING-LEFT: 5pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8.5pt;
	COLOR: yellow;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.MainBar {
	text-align:center;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #CC0000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.MainBar:link {
	text-align:center;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #CC0000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.MainBar:visited {
	text-align:center;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #CC0000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.MainBar:hover {
	text-align:center;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.AZSearch {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9.5pt;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.AZSearch:link {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9.5pt;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.AZSearch:visited {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9.5pt;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.AZSearch:hover {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9.5pt;
	COLOR: yellow;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: underline
}
.Title {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13pt;
	COLOR: #FF9900;
	FONT-FAMILY: Tahoma, Arial, Verdana;
	TEXT-DECORATION: none
}
.Content {
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
	COLOR: #000000;
	FONT-FAMILY: Arial, Verdana;
	TEXT-ALIGN: justify
}
.TitleSmall {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR: #006600;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.modal {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR: #006600;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.modal:link {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR: #006600;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.modal:visited {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR: #006600;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.modal:hover {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR: red;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: underline
}
.BarText {
	PADDING-RIGHT: 10pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8.5pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.BarText:link {
	PADDING-RIGHT: 10pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8.5pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.BarText:visited {
	PADDING-RIGHT: 10pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8.5pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.BarText:hover {
	PADDING-RIGHT: 10pt;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8.5pt;
	COLOR: #FF9900;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.WhiteText {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.WhiteText:link {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.WhiteText:visited {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.WhiteText:hover {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: underline
}
.DarkText {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.DarkText:link {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.DarkText:visited {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.DarkText:hover {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: red;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: underline
}
.GrayText {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #C0C0C0;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.GrayText:link {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #C0C0C0;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.GrayText:visited {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #C0C0C0;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.GrayText:hover {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: underline
}
.Button {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 7.5pt;
	COLOR: #336699;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.Button: link {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 7.5pt;
	COLOR: #336699;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.Button: visited {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 7.5pt;
	COLOR: #336699;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.Button:hover {
	PADDING-LEFT: 0pt;
	FONT-WEIGHT: none;
	FONT-SIZE: 7.5pt;
	COLOR: #000000;
	FONT-FAMILY: Tahoma, Verdana, Arial;
	TEXT-DECORATION: none
}
.oncaption
{
	color:Snow; font-size:large;
	background-color:DarkSeaGreen;
}
.border
{
	 border:2px solid SeaGreen;
}